@font-face {
    font-family: proxima; /* Имя шрифта */
    src: url(proxima.otf); /* Путь к файлу со шрифтом */
}
@media (min-width: 1px) and (max-width: 767px) {
  .header-phone img {
    display: none;
  }
  .search-block {
    display: none;
  }
  .modal-open .modal-sm {
    width:250px !important;
  }
  .modal-open .modal-sm .modal-content .h3 {
    font-size: 18px !important;
  }
  .modal-open .modal-sm .modal-content .h3 img {
    display: none;
  }
  .modal-open .modal-sm p {
    font-size: 12px !important;
  }
  .main-section .right .slider .item .h1 {
    font-size: 18px !important;
  }
  .main-section .right .slider .item {
    min-height:200px !important;
    padding-top: 35px !important;
  }
  .main-section .right .slider .item a {
    margin-top: 33px !important;
    font-size: 12px !important;
  }
  .footer .col-sm-6  {
    display: none;
  }
  .footer img {
    display: none;
  }
  .getPrice {
    display: none;
  }
  .header nav ul li > .dropdown-menu {
    display: none !important;
  }
  .left {
    display: none;
  }
}
img {
  max-width: 100%;
}
body {
  font-family: arial;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.header {
  padding-top: 25px;
  padding-bottom: 15px;
  background-image: url(../images/pattern.png);
}
.header p {

  font-style: italic;
  color: #828282;
  margin-top: 15px;
}
.header a {
  font-size: 16px;
  color: #000;
  font-weight: bold;

}
.header a.callback {
  font-size: 12px;
  text-decoration: underline;
  color: #000;
  position: relative;
  top: -5px;
}
.header a.callback:hover {
  text-decoration: none;
}
.header .header-phone {
  padding-top: 15px;
}
.header .search-block form {
  border-radius: 3px;
  border: solid 3px #e6e6e6;
  max-width: 231px;   
  margin-top: 10px;  
}
.header .search-block form input {
  border-radius: 0;
  height: 32px;
}
.header .search-block form button {
  padding: 0;
  margin-left: -15px;
  height: 32px;
  vertical-align: top;
}
.header nav {
  margin-bottom: 0;
  margin-top: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3098da+0,1e8bcf+24,1d89cd+50,1e8bcf+79,339adb+100 */
  background: rgb(48,152,218); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(48,152,218,1) 0%, rgba(30,139,207,1) 24%, rgba(29,137,205,1) 50%, rgba(30,139,207,1) 79%, rgba(51,154,219,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(48,152,218,1) 0%,rgba(30,139,207,1) 24%,rgba(29,137,205,1) 50%,rgba(30,139,207,1) 79%,rgba(51,154,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(48,152,218,1) 0%,rgba(30,139,207,1) 24%,rgba(29,137,205,1) 50%,rgba(30,139,207,1) 79%,rgba(51,154,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3098da', endColorstr='#339adb',GradientType=0 ); /* IE6-9 */

}
.header nav ul {
  width:100%;
  text-align: center;
}
.header nav ul li {
  display: inline-block;
  float: none;
}
.header nav ul li a {
  font-size: 14px;
  color:#fff !important;
  font-weight: lighter;
  text-transform: uppercase;
}
.header nav ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
.header nav ul li a:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&1+0,0.8+15,1+19,1+81,0.8+85,1+100;Blue+Two+Sided+Transparent */
  background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&1+0,0.8+15,1+19,1+81,0.8+85,1+100;Blue+Two+Sided+Transparent */
  background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
.header nav ul .active a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&1+0,0.8+15,1+19,1+81,0.8+85,1+100;Blue+Two+Sided+Transparent */
  background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
.header nav ul li > .dropdown-menu {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3098da+0,1e8bcf+24,1d89cd+50,1e8bcf+79,339adb+100 */
  background: rgb(48,152,218); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(48,152,218,1) 0%, rgba(30,139,207,1) 24%, rgba(29,137,205,1) 50%, rgba(30,139,207,1) 79%, rgba(51,154,219,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(48,152,218,1) 0%,rgba(30,139,207,1) 24%,rgba(29,137,205,1) 50%,rgba(30,139,207,1) 79%,rgba(51,154,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(48,152,218,1) 0%,rgba(30,139,207,1) 24%,rgba(29,137,205,1) 50%,rgba(30,139,207,1) 79%,rgba(51,154,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3098da', endColorstr='#339adb',GradientType=0 ); /* IE6-9 */
  width:auto;
}
.header nav ul li > .dropdown-menu li {
  width:100%;
  float: left;
}
.main-section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-section .left ul {
  padding-left: 15px;
  margin-bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,ffffff+42,ececec+100 */
  background: rgb(236,236,236); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(236,236,236,1) 0%, rgba(255,255,255,1) 42%, rgba(236,236,236,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 42%,rgba(236,236,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(236,236,236,1) 0%,rgba(255,255,255,1) 42%,rgba(236,236,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */

}
.main-section .left ul li {
  padding: 10px 0;
  list-style-type: none;
  background-image: url("../images/li.png");
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 5px;
  border-bottom: 1px solid #cecece;

}
.main-section .left ul li:last-child {
  border: 0;
}
.main-section .left .left-menu {
  padding: 5px;
  border-radius: 4px;
  border:1px solid #cecece;
}
.main-section .left ul li a {
  color: #000;
}
.main-section .left ul li > .dropdown {
  background: none;
  display: none;
  margin-left: 0;
  padding-left: 0;
}
.main-section .left .left-menu > ul > li:hover {
  background: none;
}
.main-section .left ul li:hover > .dropdown {
  display: block;
}
.main-section .left .left-menu > ul > li > .dropdown > .active > a {
  color: blue;
}
.main-section .left ul li > .dropdown li {
  background-image: url('../images/dropdown-li.png');
}
.main-section .left ul li > .dropdown li a {
  text-decoration: underline;
}
.main-section .left ul li > .dropdown li a:hover {
  text-decoration: none;
}
.main-section .left .left-news .new {
  margin-top: 15px;
}
.main-section .left .left-news .date {
  font-size: 12px;
  font-weight: bold;
  color: #0074bc;
}
.main-section .left .left-news p a {
  font-size: 12px;
  text-decoration: underline;
  color: #000;
}
.main-section .left .left-news p a:hover {
  text-decoration: none;
}
.main-section .left .left-news h4 {
  font-size: 16px;
  font-family: proxima;
  text-transform: uppercase;
  margin-top: 25px;
  font-weight: lighter;
}
.main-section .right .slider .item {
  background: url("../images/banner.png");
  min-height: 320px;
  background-size: cover;
  padding-top: 60px;
  padding-left: 15%;
  padding-right: 10%;

}
.main-section .right .slider .item a {
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 70px;
}
.main-section .right .slider .item .h1 {
  margin: 0;
  color:#fff;
  font-family: proxima;
}
.main-section .right h3 {
  font-size: 24px;
  font-family: proxima;
  margin-top: 35px;
}
.main-section .right .catalog-main .catalog-item h4 a {
  color: #000;
  font-size: 20px;
  font-family: proxima;
}
.main-section .right .catalog-main .catalog-item ul li a {
  text-decoration: underline;
  font-size: 12px;
}
.main-section .right .catalog-main .catalog-item ul li {
  margin-top:2px;
}
.main-section .right .catalog-main .catalog-item ul li .more {
  color:#000;
}
.main-section .right .catalog-main .catalog-item  {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  margin-top: 30px;
}
.main-section .right .catalog-main .catalog-item:hover {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
  -moz-box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
  box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
}
.footer {
  background-image: url("../images/pattern.png");
  padding: 25px 0;
}
.footer img {
  margin-bottom: 25px;
}
.footer .copyrite {
  margin-top: 25px;
  font-weight: bold;
}
.footer ul li {
  margin-top: 10px;
}
.footer ul li a {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}
.footer ul li a:hover {
  color: #137ec1;
}
.main-section .right .category h1 {
  font-size: 32px;
  font-family: proxima;
  margin-top: 35px;
  text-transform: uppercase;
}
.main-section .right .category ul {
  margin-top: 25px;
  margin-left: 15px;
}
.main-section .right .category ul li {
  color:blue;
  text-decoration: underline;
  margin-top: 15px;
}
.main-section .right .category .another-category h3 {
  font-size: 20px;
  font-family: proxima;
  text-transform: none;
  margin-top: 15px;

}

.main-section .right .category .another-category h3 img {
  max-width: 30px;
  margin-right: 15px;
}
.main-section .right .category .another-category h3 a {
  color: #000;
  text-decoration: underline;
}
.main-section .right .category .another-category h3 a:hover {
  text-decoration: none;
}
.main-section .right .category ul li:hover {
  text-decoration: none;
}
.main-section .right .category ul li a {
  color: #000;
}
.main-section .right .category h1 img {
  margin-right: 25px;
}
.view h1 {
  font-size: 32px;
  font-family: proxima;
}
.view h2 {
  font-size: 24px;
  font-family: Calibri;
}
.news h1 {
  font-size: 32px;
  font-family: proxima;
}
.news h2 {
  font-size: 20px;
  font-family: proxima;
}
.news .date {
  font-size: 14px;
  font-family: Calibri;
  color: #888888;
}
.news-view h1 {
  font-size: 32px;
  font-family: proxima;
}
.search-block .help-block {
  margin-bottom: 0;
  margin-top: 0;
}
.search-result p:nth-child(1) {
  border-top: solid #666 1px;
}
.search-result p {
  padding-bottom: 10px;
  border-bottom:solid #666 1px;
}
.right h1 {
  font-size: 32px;
  font-family: proxima;
}
.modal-open .modal {
  background: rgba(0, 16, 222, 0.51);
}
.modal-open .modal-sm {
  width:400px;
  margin: 100px auto;
}
.modal-open .modal-sm .modal-content {
  padding: 25px;
}
.modal-open .modal-sm .modal-content .h3 {
  font-size: 24px;
  font-family: proxima;
  text-transform: uppercase;
}
.modal-open .modal-sm .modal-content .h3 img {
  margin-right: 10px;

}
.getPrice {
  position: fixed;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  right: -138px;
  top: 45vh;
  background: rgb(48,152,218);
  background: -moz-linear-gradient(top, rgba(48,152,218,1) 0%, rgba(30,139,207,1) 24%, rgba(29,137,205,1) 50%, rgba(30,139,207,1) 79%, rgba(51,154,219,1) 100%);
  background: -webkit-linear-gradient(top, rgba(48,152,218,1) 0%,rgba(30,139,207,1) 24%,rgba(29,137,205,1) 50%,rgba(30,139,207,1) 79%,rgba(51,154,219,1) 100%);
  background: linear-gradient(to bottom, rgba(48,152,218,1) 0%,rgba(30,139,207,1) 24%,rgba(29,137,205,1) 50%,rgba(30,139,207,1) 79%,rgba(51,154,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3098da', endColorstr='#339adb',GradientType=0 );
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  trasition:1s;
  border-radius: 5px 5px 0 0;
}
.getPrice:hover {
  color: #fff;
  -moz-transform: scale(1.3) rotate(270deg);
  -ms-transform: scale(1.3) rotate(270deg);
  -webkit-transform: scale(1.3) rotate(270deg);
  -o-transform: scale(1.3) rotate(270deg);
  transform: scale(1.3) rotate(270deg);
  transition:1s;
}
.getPrice:link {
  color: #fff;
}
.getPrice:focus {
  color: #fff;
}
.alert {
  margin-bottom: 0 !important;
}
.view .passports img {
  cursor: url('/images/cur.cur') ,url("/images/cur.png"), auto;
}